*{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  
 }
 ol{
  text-align: center
 }
.note1 {
  color: red;
  
}
#id1{
  color: green;
}
li[value="4"]{
  color: blue;
}
ol {
  
list-style-position: inside;
}