img{
    width: 200px;
    height: 200px;
}

#red{
color: red;
}
#blue{
    color: rgb(4, 134, 255);

}
#orange{
    color: orange;
}
#green{
    color: green;

}
h2[id="yellow"]{
    color: yellow;
}